<!-- Content section starts -->
<div style="overflow-x: hidden;" class="grid grid-nogutter p-3 justify-content-center border-top-1 border-200 mt-5">
    <div class="col-10 p-5">
        <div class="grid grid-nogutter">
            <div class="col">
                <div class="grid grid-nogutter">
                    <!-- <img style="object-fit: cover; width: 165px;" class="cursor-pointer" src="assets/Images/nftLofo.jpg"
                        alt="Image" /> -->
                </div>
                <div class="grid grid-nogutter">
                    <div class="col-12 pt-3">
                        <span class="text-sm text-gray-300">Please contact us if you have any specific idea or
                            request.<br></span>
                    </div>
                    <div class="col-12 pt-2">
                        <span class="text-sm text-gray-300 flex cursor-pointer">
                            <i class="pi pi-envelope"></i> <span
                                class="ml-2 hover:underline">nft@mynftmarketplace.com</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="grid grid-nogutter">
                    <span class="text-lg text-white font-semibold">Discover</span>
                </div>
                <div class="grid grid-nogutter mt-3">
                    <span routerLink="/dashboard"
                        class="text-base font-normal cursor-pointer text-300 hover:text-primary">Explore</span>
                </div>
                <div class="grid grid-nogutter mt-3">
                    <span routerLink="/createCollection"
                        class="text-base font-normal cursor-pointer text-300 hover:text-primary">Create
                        Collection</span>
                </div>
                <div class="grid grid-nogutter mt-3">
                    <span routerLink="/createNft"
                        class="text-base font-normal cursor-pointer text-300 hover:text-primary">Create NFT</span>
                </div>
            </div>
            <div class="col">
                <div class="grid grid-nogutter">
                    <span class="text-lg text-white font-semibold">Join the community</span>
                </div>
                <div class="grid grid-nogutter mt-3">
                    <div class="col-fixed ">
                        <div
                            class="grid grid-nogutter border-1 w-3rem h-3rem border-circle border-primary cursor-pointer align-items-center justify-content-center text-primary hover:text-white hover:bg-primary">
                            <div class="flex"><i class="pi pi-twitter text-lg  font-light"></i></div>
                        </div>
                    </div>
                    <div class="col-fixed ml-3">
                        <div
                            class="grid grid-nogutter border-1 w-3rem h-3rem border-circle border-primary cursor-pointer align-items-center justify-content-center text-primary hover:text-white hover:bg-primary">
                            <div class="flex"><i class="pi pi-telegram text-lg  font-light"></i></div>
                        </div>
                    </div>
                    <div class="col-fixed ml-3">
                        <div
                            class="grid grid-nogutter border-1 w-3rem h-3rem border-circle border-primary cursor-pointer align-items-center justify-content-center text-primary hover:text-white hover:bg-primary">
                            <div class="flex"><i class="pi pi-linkedin text-lg  font-light"></i></div>
                        </div>
                    </div>
                    <div class="col-fixed ml-3">
                        <div
                            class="grid grid-nogutter border-1 w-3rem h-3rem border-circle border-primary cursor-pointer align-items-center justify-content-center text-primary hover:text-white hover:bg-primary">
                            <div class="flex"><i class="pi pi-instagram text-lg  font-light"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>